<div class="side-bar">

  <div class="side-header">
    <div class="user-name">
      <%=link_to current_user.name, edit_user_path(current_user)%>
    </div> 
    <div class="chat-create">
      <a href="#">チャットを作成する</a>
    </div> 
  </div>  

  <div class="side-main">

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom1</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom2</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom3</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom4</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom5</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom6</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom7</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom8</a>
      </div>  
    </div>
    
   <div class="group">
      <div class="group-name">
        <a href="#">chatroom9</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom10</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom11</a>
      </div>  
    </div>

    <div class="group">
      <div class="group-name">
        <a href="#">chatroom12</a>
      </div>  
    </div>

  </div>

</div>  